h1{
    color:black;
    text-align: center;
    text-size-adjust: 30px;
    font-style: oblique;
    text-shadow: 5px;
}

.bgcolor
{
    background-color: transparent;
}
img
{
    width: 100%;
    height: 600px;
}
.form-control
{
    margin-left: 40px;
}
.background
{
    background-color: darkorchid;
}